html {
  font-size: 50px;
}

body {
  display: flex;
  justify-content: center;
}

#board {
  display: inline-block;
  font-family: monospace;
  white-space: pre;
  background-color: #cdf;
}

#board p {
  margin: 0;
  line-height: 0.95;
}
